<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Режиссеры</title>
    <style>
        .not-enough-book {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1>Все режиссеры</h1>
    <div class="row">
        <div class="col">
            <a href="books/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить режиссера
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Позиция</th>
            <!--            <th scope="col">Автор(ы)</th>-->
            <th scope="col"></th>
        </tr>
        </thead>
        <tr th:each="director : ${directors}">
            <td>
                <a th:href="'/directors/' + ${director.getId()}" th:text="${director.getDirectorFIO()}" style="color: black"></a>
            </td>
            <td th:text="${director.getPosition()}"></td>
        </tr>
    </table>
</div>
</body>
</html>
